<a href="https://colab.research.google.com/github/lelyashashlyk/DataScienceLearning/blob/main/python_basics/DS_py_HW_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task 1
Создайте функцию func1, которая будет принтить вам строку 'hello'

In [1]:
def func1():
  print('Hello!')

func1()

Hello!

# Task 2
Создайте функцию func2, которая будет принимать два числа в качестве аргументов
и возвращать их сложение

In [2]:
def func2(a, b):
  return a+b

num1 = int(input('Input your first number:\t'))
num2 = int(input('Input your secont number:\t'))

func2(num1,num2)

Input your first number:	9
Input your secont number:	8

17

# Task 3
Создайте функцию wallet, которая принимает два аргумента:

1) на что потрачены деньги

2) сколько потрачено

В итоге функция должна возвращать строку в виде

```'На *example_молоко* было потрачено *example_60* сом'```

In [3]:
def wallet(spend1, spend2):
  print(f'На {spend1} было потрачено {spend2} сом')

params = input('Enter what you spent on and how much you spent separated by a space:\t').split()
wallet(params[0], params[1])

Enter what you spent on and how much you spent separated by a space:	6 8
На 6 было потрачено 8 сом

# Task 4
Создайте функцию ```func4()```, которая на вход будет принимать одну строку, проверять ее и на выходе
возвращать строку, заменяя запятые на точки, пробелы на '' - пустые кавычки

In [4]:
def func4(string1):
  return string1.replace(',', '.').replace(' ', '"')

str1 = input('Введите строку для преобразования:\t')
func4(str1)

Введите строку для преобразования:	рюю.одшюбог,

'рюю.одшюбог.'

# Task 5
Создайте две функции ```add``` и ```div```

первая функция должна принимать два числа и возвращать их сумму

вторая функция должна принимать в качестве первого аргумента результат сложения первой функции и
вторым аргументом число. Внутри себя вторая функция будет делить первый аргумент на второй и возвращать результат

Например:
```
add(4, 5) => 9
div(9, 3) => 3
```

In [5]:
def add(num1: int, num2: int) -> int:
 return num1 + num2

def div(num1: int, num2: int)-> int:
   return round(num1 / num2)

s = add(4, 5)
print(s, div(s, 3))

9 3

# Task 6
Создайте функцию ```mult```, которая в аргументы принимает список чисел и возвращает произведение
чисел этого списка.

Например:
```print(mult([1, 2, 3, 4, 5])) => 120```

In [6]:
def mult(lst: list) -> int:
  prod = 1
  for i in lst:
    prod *= i
  return prod

print(mult([1, 2, 3, 4, 5]))

120

# Task 7
Создайте функцию ```str_check```, которая будет проверять есть ли в приходящей ей строке словосочетание
'data science', если да возвращать True, нет - False

In [7]:
def str_check(s: str)->str:
  s = s.replace(' ', '').lower()
  if 'datascience' in s:
    return True
  else: return False

str_check('Big data !data Science')

True

# Task 8
Вам дан список
```
bd = ['Emil', 'Rena', 'Aliya', 'Hur']
```
создайте функцию ```check```, которая в качестве аргумента будет принимать имя и проверять есть ли это имя
в базе данных (bd), если да то возвращать 'yes', нет - 'no'

In [8]:
bd = ['Emil', 'Rena', 'Aliya', 'Hur']

def check(name: str)->str:
  if name in bd:
    return  'yes'
  else: return 'no'

print(check('Emil'))
print(check('Leila'))

yes
no

# Task 9
Создайте функцию ```func9()```, которая будет принимать 1 аргумент - число и возвращать два аргумента:
принимаемое число и квадрат этого числа

In [9]:
def func9(num: int)-> tuple:
  return (num, num**2)

func9(5)

(5, 25)

# Task 10
Дана база данных потенциальных кандидатов на место работы
```
users = [
  { 'name': 'Ron', 'age': 18, 'work': 'IT-backend developer'},
  { 'name': 'Sam', 'age': 23, 'work': 'Doctor'},
  { 'name': 'Bob', 'age': 26, 'work': 'Driver'},
  { 'name': 'John', 'age': 39, 'work': 'Teacher'},
  { 'name': 'Jack', 'age': 29, 'work': 'IT-frontend developer'}
]   
```
Напишите функцию ```employee```, которая будет смотреть на список users и возвращать имена только тех кандидатов,
которым больше 21 и они в сфере IT

In [10]:
users = [
  { 'name': 'Ron', 'age': 18, 'work': 'IT-backend developer'},
  { 'name': 'Sam', 'age': 23, 'work': 'Doctor'},
  { 'name': 'Bob', 'age': 26, 'work': 'Driver'},
  { 'name': 'John', 'age': 39, 'work': 'Teacher'},
  { 'name': 'Jack', 'age': 29, 'work': 'IT-frontend developer'}
]

def employee():
  return [candidat for candidat in users if candidat['age'] > 21 and candidat['work'].find('IT') != -1]

employee()

[{'name': 'Jack', 'age': 29, 'work': 'IT-frontend developer'}]

# Task 11
Создайте функцию: ```arg_types()```, которая принимает два обязательных параметра.
Задача этой функции выводить тип принятых аргументов

In [11]:
def arg_types(a, b):
  print(type(a), type(b))

arg_types(7, 'mal')

<class 'int'> <class 'str'>

# Task 12
Создайте функцию ```check_nan```, которая будет принимать обязательным аргументом список и проверять
есть ли в этом списке 'nan', если да, то удалять его и возвращать список без nan, если же список чист
то вернуть его в изначальном виде

In [12]:
lst = ['nan', 8, 3, 'adf', 'nen']
lst2 = ['non', 8, 3, 'adf', 'nen']
def check_nan(lst: list) -> list:
  return [i for i in lst if i != 'nan']

check_nan(lst2)

['non', 8, 3, 'adf', 'nen']